[Unit]
Description=uWSGI service
After=syslog.target

[Service]
ExecStart=/home/ubuntu/mwodeola-venv/bin/uwsgi -i /srv/mwodeola-web-server/.config/uwsgi/mwodeola.ini

Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target

[Unit]
Description=uWSGI service
After=syslog.target